# /opt/edubox/.env
# CHANGER TOUS CES MOTS DE PASSE AVANT DÉPLOIEMENT
# Ce fichier est un exemple — copier en .env et modifier

MARIADB_ROOT_PASS=CHANGE_ME_root
MOODLE_DB_PASS=CHANGE_ME_moodle
MOODLE_ADMIN_PASS=CHANGE_ME_admin
KOHA_DB_PASS=CHANGE_ME_koha
SIP2_GATE_PASS=CHANGE_ME_gate
SIP2_SELFCHECK_PASS=CHANGE_ME_selfcheck
